doctype 5
html(prefix="og: http://ogp.me/ns#")
  head
    title= color
    meta(property="og:title", content=colorName)
    meta(property="og:description", content="Full screen " + colorName)
    meta(property="og:type", content="website")
    meta(property="og:image", content=imageUrl)
    meta(property="og:url", content=pageUrl)
    link(href=imageUrl, rel="icon")
    style
      html, body {height:100%;margin:0;padding:0;}
      body {background-color:#{color};}

  body
    script
      document.body.addEventListener('click', function(){
        window.location.href = '/r';
      });

